{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link type="text/css" href="{% static 'stata/css/styles.css' %}"
          rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'stata/images/main.ico' %}"
          type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<table class="table-header">
    {% block mainmenu %}
    <tr>
        <td>
            <a href="{% url 'stata:home' %}">Home</a>
        </td>
        <td></td>
        <td>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Logout</a>
            {% endif %}
        </td>
    </tr>
    {% endblock mainmenu %}
</table>
<table class="table-content" border="1px solid black">
    <tr>
        <td>
            <h1>{{ title }}</h1>
        </td>
    </tr>
    <tr>
        <td>
            <!-- Block content -->
            {% block content %}
            {% endblock %}
            <!-- End content block -->
        </td>
    </tr>
</table>
</body>
</html>
