{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>{{ title }}</h1>
{% if user.is_authenticated %}
<div>
<table class="table-data">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Distance</th>
        <th>Elevation</th>
        <th>Moving time</th>
        <th>Average Speed</th>
        <th>Average Watts</th>
        <th>Type</th>
        <th>Date</th>
        <th>Location</th>
    </tr>
    {% for a in activities %}
    <tr>
        <td>{{ a.id }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.distance }}</td>
        <td>{{ a.total_elevation_gain }}</td>
        <td>{{ a.moving_time }}</td>
        <td>{{ a.average_speed }}</td>
        <td>{{ a.average_watts }}</td>
        <td>{{ a.type }}</td>
        <td>{{ a.start_date_local }}</td>
        <td>{{ a.end_latlng }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
