{% extends 'base.html' %}
{% load static %}


{% block content %}
<ul style="text-align:center; list-style-type: none;">
{% if user.is_authenticated %}
    <li><a href="{% url 'stata:activities' %}">List your activities</a></li>
    <li><a href="{% url 'stata:upload' %}">Upload your activities</a></li>

    {% else %}
    <li><a href="{% url 'social:begin' 'strava' %}">
        <img class="center" src="{% static 'users/images/btn_strava_connectwith_orange.png' %}"></a>
    </li>
{% endif %}
</ul>
{% endblock %}
